#redes-sociales {
  width: 100%;
  display: flex;
  justify-content:space-between;
}

body{
  background-image: url(resources/images/fotogrupal.jpg);
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  width: 100vw;
}
#seccion-1{
  width: 100vw;
  height: 100vh;
}

#cabecera {
  display: flex;
  height: 25%;
  width: 70%;
  margin: auto;
}

#cabecera-izq{
  width: 33%;
  padding: 1em;
}
#cabecera-der{
  display: block;
  width: 100%;
  padding: 1em;
}

#logo{
  width: 80%;
  height: 80%;
  margin-left: 10%;
  border-radius: 20%;
}

#logo-div{
  background-color: #000000;
  border-radius: 20%;
  margin: 10% 5%;
}

#cabecera-der-arriba {
  height: 50%;
  justify-self: end;
}

#cabecera-der-abajo {
  display: flex;
  justify-content: space-between;
  height: 15%;
}

#cabecera-der-abajo button{
  flex-grow: 1;
  border: none;
  background-color: rgba(255, 196, 0, 0.5);
}

#cabecera-der-abajo button:hover{
  background-color: rgb(255, 196, 0)
}